<!DOCTYPE html>
<html>
<head>
	<title>Lviv Polytechnic</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
	<h1>Insert Data</h1>
	<form action="/insert" method="POST">
		<label>Student name:</label><br>
		<input type="text" name="name"><br>
		<label>Phone:</label><br>
		<input type="text" name="phone"><br>
		<label>Institute:</label><br>
		<input type="text" name="institute"><br><br>
        <label>Course:</label><br>
		<input type="text" name="course"><br><br>
        <label>Gender:</label><br>
		<input type="text" name="gender"><br><br>
		<input type="submit" value="Submit">
	</form>
    <p style="text-align: right;">
        <a href ="../index.html" class="btn"><button>Back to main menu</button></a>
    </p>
</body>
</html>
