<!DOCTYPE html>
<html>
<head>
	<title>Lviv Polytechnic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1>Delete Data</h1>
	<form action="/delete" method="POST">
		<label>Name:</label><br>
		<input type="text" name="name"><br><br>
        <label>Institute:</label><br>
		<input type="text" name="institute"><br><br>
		<input type="submit" value="Submit">
	</form>
    <p style="text-align: right;">
		<a href="{{url_for('main_menu')}}"  class="btn"><button>Back to main menu</button></a>
    </p>
</body>
</html>
