<!DOCTYPE html>
<html>
    <head>
        <title>Lviv Polytechnic </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        <div class="date", id="date">
            <script>
                date = new Date().toLocaleDateString();
                document.write(date);
                </script>
        </div>  
        <h1>
            Lviv Polytechnic National University
        </h1>
        <h3>Lviv Polytechnic National University is the oldest technical higher educational institution in Ukraine and East Europe.</h3>
        <h3>It was founded in 1816. University consists of 17 institutes, more than 100 departments; autonomous, additional and general subdivisions.</h3>  
        <h3> This database for tuitors this awesome University. Let`s start our journey to world about student info</h3>
        <p style="text-align: center; position: fixed; bottom: 20px;">
            <a href ="/insert-form" class="btn"><button>1.Add record</button></a>
            <a href ="/select-form" class="btn"><button>2.Search record</button></a>
            <a href ="/delete-form" class="btn"><button>3.Delete record</button></a>
            <a href ="/update-form" class="btn"><button>4.Update Record</button></a>
            <a href ="/all-form" class="btn"><button>5.Show All Records</button></a>
        </p>
    </body>

</html>