<!DOCTYPE html>
<html>
    <head>
        <title>Lviv Polytechnic </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        <div class="date", id="date">
            <script>
                date = new Date().toLocaleDateString();
                document.write(date);
                </script>
        </div>  
        <h1>
            Welcome to Lviv Polytechnic
        </h1>
          
        <h3> We give you choose your way. Let`s start our journay to music world.</h3>
        <p style="text-align: center; position: fixed; bottom: 20px;">
            <a href ="/insert-form" class="btn"><button>1.Add record</button></a>
            <a href ="/select-form" class="btn"><button>2.Search record</button></a>
            <a href ="/delete-form" class="btn"><button>3.Delete record</button></a>
            <a href ="/update-form" class="btn"><button>4.Update Record</button></a>
            <a href ="/all-form" class="btn"><button>5.Show All Records</button></a>
        </p>
    </body>

</html>