<!DOCTYPE html>
<html>
<head>
	<title>Lviv Polytechnic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1>Update Data</h1>
	<form action="/update" method="POST">
		<label>Select Name</label><br>
		<input type="text" name="name_1"><br>
		<label>Name:</label><br>
		<input type="text" name="name"><br>
		<label>Phone:</label><br>
		<input type="text" name="phone"><br>
		<label>Institute:</label><br>
		<input type="text" name="institute"><br><br>
        <label>Course:</label><br>
		<input type="text" name="course"><br><br>
        <label>Gender:</label><br>
		<input type="text" name="gender"><br><br>
		<input type="submit" value="Submit">
	</form>
    <p style="text-align: right; position: fixed; bottom: 20px;">
        <a href="{{url_for('main_menu')}}"  class="btn"><button>Back to main menu</button></a>
    </p>
</body>
</html>
